{{!-- <h2>Header</h2> --}}
<div class="header">
  <div class="left-header">
    <div class="header-logo"></div>
    <h3>DEMO</h3>
  </div>
  <div class="right-header">
    {{#link-to "add-gist"}}
      <span>New Gist</span>
    {{/link-to}}
  </div>
</div>
