<button {{action this.snap}}>
  {{if this.snapped "unsnap" "snap"}}
</button>
<div class="main-code-box">
  <AnimatedContainer>
    {{#animated-each this.shownGists use=transition as |gist|}}
      <div class="file-block">
        <div class="file-header">
          <h2>{{gist.description}}</h2>
          <small>{{gist.fileName}}</small>
        </div>
        <div class="code-box">
          <CodeBlock @language="javascript">
            {{gist.body}}
          </CodeBlock>
        </div>
      </div>
    {{else}}
      <div class="is-empty">
        <h2>No Task! Please add one!</h2>
      </div>
    {{/animated-each}}
  </AnimatedContainer>
</div>
